!!! 5
%html
  %head
    %title Cross Portfolio
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ class: 'font-mono flex flex-col h-screen bg-green-100' }

    %div{ class: "flex-grow"}
      %p{ class: "notice" }= notice
      %p{ class: "alert" }= alert

      = render partial: 'home/navbar'

      = yield

      = render partial: 'home/footer'




-#
